body{
	margin-left: 0px;
	margin-top: 0px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background: #BEC4E5;
}

ul{
	align-content: center;
	padding: 0;
	display: flex;

}
ul li{
	list-style: none;
	margin: 0 20px;
	transition: 0.5s;
}
ul li a {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 5px;
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s;
	background-color: #001063  ;
}

ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #001063   ;
	transition: transform 0.5s;
	transform-origin: right;
	transform: scaleX(0);
	z-index: -1;
	
}
ul li a:hover:before{
	transition: transform 0.5s;
	transform-origin: right;
	transform: scaleX(1);
	background:  #001063;
}
.slid{
	position: absolute;
	background: #001063;
	z-index: 100;
}

#titulo{
	transform: translateX(350px);
	color: #fff;
	font-family: sans-serif;
	background-color: #D70505;
	width: 500px;
}
#tituloMaestro{
	transform: translateX(350px);
	color: #fff;
	font-family: sans-serif;
	background-color: #D70505;
	width: 200px;
}
p{
	color: #000000;
	font-family: sans-serif;
	font-size: 25px;
	
}
table#junta{
	color: #000000;
	font-family: sans-serif;
	border-spacing: 20px 5px;
	border-radius: 1px;
	border-color: #000000;
	font-size: 25px;
}

.maestro{
	background-color: #686868;
	transform: translateX(50px);
	width: 900px;
	height: 280px;
}

#jornada{
	color: #000;
	font-family: sans-serif;
	font-size: 20px;
}

#banner{
	background-color: #001063 ;
	width: 1200px;
}
ol li{
	text-decoration: none;
}